interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://events.testbed.cb.dev/events/user_name/api_key
  response:
    body:
      string: '{"events":[{"method":"chatMessage","object":{"broadcaster":"test_broadcaster","message":{"bgColor":null,"color":"","font":"default","message":"hi","orig":null},"user":{"colorGroup":"f","fcAutoRenew":false,"gender":"m","hasDarkmode":true,"hasTokens":true,"inFanclub":true,"inPrivateShow":false,"isBroadcasting":true,"isFollower":true,"isMod":false,"isOwner":false,"isSilenced":false,"isSpying":false,"language":"en","recentTips":"tons","subgender":"","username":"test_user"}},"id":"1708994484737-0"}],"nextUrl":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
